<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/computerbasedtest?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.autocommit">false</property>
    <property name="hibernate.connection.isolation">2</property>
    <mapping resource="com/cbt/entity/Userlog.hbm.xml"/>
    <mapping resource="com/cbt/entity/Subtest.hbm.xml"/>
    <mapping resource="com/cbt/entity/User.hbm.xml"/>
    <mapping resource="com/cbt/entity/Participant.hbm.xml"/>
    <mapping resource="com/cbt/entity/Coursedatabase.hbm.xml"/>
    <mapping resource="com/cbt/entity/Answer.hbm.xml"/>
    <mapping resource="com/cbt/entity/Score.hbm.xml"/>
    <mapping resource="com/cbt/entity/Institute.hbm.xml"/>
    <mapping resource="com/cbt/entity/Media.hbm.xml"/>
    <mapping resource="com/cbt/entity/Statusdetail.hbm.xml"/>
    <mapping resource="com/cbt/entity/Mediacontent.hbm.xml"/>
    <mapping resource="com/cbt/entity/Role.hbm.xml"/>
    <mapping resource="com/cbt/entity/Question.hbm.xml"/>
    <mapping resource="com/cbt/entity/Test.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
